{{define "footer"}}
<footer>Interested in becoming a <a href='https://docs.google.com/forms/d/1yOKHC3296W96piGp7KhASs_OV9L_0BmNknN06pJgVlI/edit'>Speaker</a> or becoming a <a href='https://docs.google.com/forms/d/1dZ3AlVJ6cGFZc8bH-v8WiiZlihRXDg0NPWYyBtq8UpA/editi'>Host</a></footer>
{{end}}
